NEXT_PUBLIC_DEMO_EXAM_CODE=serin-helion-demo
NEXT_PUBLIC_DEMO_EXAM_TITLE=Serin-Helion Proctored Assessment
NEXT_PUBLIC_DEMO_EXAM_DURATION_MINUTES=15
NEXT_PUBLIC_DEMO_ADMIN_PASSCODE=HELION-ADMIN
DEMO_QUIT_PASSWORD=SERIN-QUIT-2026
